{% extends 'compilaGare/base.html' %}
{% load material_form %}

{% block content %}
		<div class="demo-separator mdl-cell--1-col"></div>
		<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
		  <thead >
		    <tr>
		      <th class="mdl-data-table__cell--non-numeric">Ruolo</th>
			  <th>Cognome</th>
			  <th>Nome</th>
			  <th>Citta</th>
			  <th>Indirizzo</th>
			  <th>Data di nascita</th>
			  <th>Sesso</th> 
			  <th>Modifica</th>           
		    </tr>
		  </thead>
		  <tbody>
		  {% for soggetto in soggetti %}
		    <tr>
		      <td class="mdl-data-table__cell--non-numeric">{{soggetto.ruolo}}</td>
		      <td>{{soggetto.cognome}}</td>
		      <td>{{soggetto.nome}}</td>
		      <td>{{soggetto.indirizzo}}</td>
		      <td>{{soggetto.citta}}</td>
		      <td>{{soggetto.data_di_nascita}}</td>
		      <td>{{soggetto.get_sesso_display}}</td>
		      <td><a class="" href="{% url 'soggetto_edit' pk=soggetto.pk %}">Modifica</a></td>
		    </tr>
		   {% endfor %}
		  </tbody>
		</table>

{% endblock %}



