{% extends 'compilaGare/base.html' %}
{% load material_form %}

{% block content %}

<a class="btn btn-default" href="{% url 'soggetto_edit' pk=soggetto.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
    <div class="post">
         <h1>Detttaglio</h1>
         <p>{{ soggetto.ruolo|linebreaks }}</p>
         <p>{{ soggetto.cognome|linebreaks }}</p>
         <p>{{ soggetto.nome|linebreaks }}</p>
         <p>{{ soggetto.indirizzo|linebreaks }}</p>
         <p>{{ soggetto.citta|linebreaks }}</p>
         <p>{{ soggetto.data_di_nascita|linebreaks }}</p>
          <p>{{ soggetto.sesso|linebreaks }}</p>
    </div>
{% endblock %}

